solar development_3:3:21.json
[{"id":"6595ea3d.696e54","type":"tab","label":"Data harvested from plc","disabled":false,"info":""},{"id":"938aed02.77143","type":"switch","z":"6595ea3d.696e54","name":"Sensor switch","property":"payload.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":280,"y":80,"wires":[["fb0ad325.920ac","475495cf.24878c"],["63921a70.a7a634"],["d2cd4847.e781e8"],["ea811fad.5e417"],["9eb2934e.5efee"],["dc6aaf4.dc71a5"],["9f70e018.69af5"],["a64b766a.54a078"],["79313080.9c435"]]},{"id":"44672965.ac43b8","type":"json","z":"6595ea3d.696e54","name":"","property":"payload","action":"obj","pretty":false,"x":90,"y":120,"wires":[["5b66f2ae.de362c"]]},{"id":"d5b07004.e60e9","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"2fae7c8c.9fc304","order":1,"width":0,"height":0,"gtype":"gage","title":"West Panel Temperature (Deg C)","label":"Deg C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":200,"wires":[]},{"id":"e142bae1.4a13f8","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"92504e53.23018","order":1,"width":0,"height":0,"gtype":"gage","title":"West panel","label":"Deg C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":735,"y":280,"wires":[],"l":false},{"id":"30b35a09.5261f6","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"e92fb441.7c5ad8","order":1,"width":0,"height":0,"gtype":"gage","title":"East Panel Temperature (Deg C)","label":"Deg C","format":"{{value}}","min":0,"max":"100","colors":["#10b305","#e6bf00","#ca3838"],"seg1":"","seg2":"","x":930,"y":280,"wires":[]},{"id":"2e1d4600.ab7e7a","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"92504e53.23018","order":2,"width":0,"height":0,"gtype":"gage","title":"East panel","label":"Deg C","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":735,"y":360,"wires":[],"l":false},{"id":"c95115b0.34b8e8","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"7ff3f631.5e4058","order":1,"width":0,"height":0,"gtype":"gage","title":"Pool Water Temperature (Deg C)","label":"Deg C","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":360,"wires":[]},{"id":"a09d7890.021918","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"7ff3f631.5e4058","order":3,"width":0,"height":0,"gtype":"gage","title":"Air Temperature (Deg C)","label":"Deg C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":440,"wires":[]},{"id":"fb0ad325.920ac","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["9d5a9ea5.2a80c"]]},{"id":"63921a70.a7a634","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["ef513d0e.12bd9"]]},{"id":"d2cd4847.e781e8","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["b95e8196.f0d7b"]]},{"id":"ea811fad.5e417","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["20b16c0a.4a10b4"]]},{"id":"9eb2934e.5efee","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["ea35eee7.ca691"]]},{"id":"dc6aaf4.dc71a5","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["639d1152.d0507"]]},{"id":"9f70e018.69af5","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["4b65e232.eeaa1c"]]},{"id":"a64b766a.54a078","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":520,"wires":[["3fe2fa2b.b52c26"]]},{"id":"79313080.9c435","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":560,"wires":[["f974924c.24017"]]},{"id":"f974924c.24017","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"7ff3f631.5e4058","order":2,"width":0,"height":0,"gtype":"gage","title":"Pumps Inlet Pressure (millibar)","label":"millibar","format":"{{value}}","min":"-50","max":"200","colors":["#d34545","#0fe600","#ca3838"],"seg1":"","seg2":"","x":610,"y":560,"wires":[]},{"id":"79d245f3.b57bfc","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"2fae7c8c.9fc304","order":2,"width":0,"height":0,"gtype":"gage","title":"West Pump Pressure (Bar)","label":"Bar","format":"{{value}}","min":"-0.5","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":480,"wires":[]},{"id":"75a87fea.a827b","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"e92fb441.7c5ad8","order":2,"width":0,"height":0,"gtype":"gage","title":"East Pump Pressure (Bar)","label":"Bar","format":"{{value}}","min":"-0.5","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":520,"wires":[]},{"id":"5b66f2ae.de362c","type":"switch","z":"6595ea3d.696e54","name":"Zone Switch","property":"payload.zone","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":90,"y":300,"wires":[["938aed02.77143"],["ef5fef83.338b7"],["142b4341.0fdd4d"],["bc3676bb.ef9978"],["1a8b1706.b37649"]]},{"id":"ef5fef83.338b7","type":"switch","z":"6595ea3d.696e54","name":"East/West Pump Switch","property":"payload.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":620,"wires":[["f3d2b66c.58a4a8"],["a669fe5f.dc204"]]},{"id":"142b4341.0fdd4d","type":"switch","z":"6595ea3d.696e54","name":"East/West Roof Switch","property":"payload.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":700,"wires":[["483827ff.03eda8"],["3b9d7f2.965338"]]},{"id":"3b9d7f2.965338","type":"function","z":"6595ea3d.696e54","name":"Roof States East","func":"if (msg.payload.value == 0) msg.payload = \"Switched off: pump inlet pressure is low\"\nif (msg.payload.value == 1) msg.payload = \"Pool up to temperature\"\nif (msg.payload.value == 2) msg.payload = \"Cooling roof\"\nif (msg.payload.value == 3) msg.payload = \"Heating pool\"\nif (msg.payload.value == 4) msg.payload = \"Waiting for sunshine\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":720,"wires":[["b4a7b946.b5a4b8"]]},{"id":"b4a7b946.b5a4b8","type":"ui_text","z":"6595ea3d.696e54","group":"e92fb441.7c5ad8","order":4,"width":0,"height":0,"name":"","label":"Panel Operational State","format":"{{msg.payload}}","layout":"col-center","x":590,"y":720,"wires":[]},{"id":"483827ff.03eda8","type":"function","z":"6595ea3d.696e54","name":"Roof States West","func":"if (msg.payload.value == 0) msg.payload = \"Switched off: pump inlet pressure is low\"\nif (msg.payload.value == 1) msg.payload = \"Pool up to temperature\"\nif (msg.payload.value == 2) msg.payload = \"Cooling roof\"\nif (msg.payload.value == 3) msg.payload = \"Heating pool\"\nif (msg.payload.value == 4) msg.payload = \"Waiting for sunshine\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":680,"wires":[["206829ba.cf2a86"]]},{"id":"206829ba.cf2a86","type":"ui_text","z":"6595ea3d.696e54","group":"2fae7c8c.9fc304","order":4,"width":0,"height":0,"name":"","label":"Panel Operational State","format":"{{msg.payload}}","layout":"col-center","x":590,"y":680,"wires":[]},{"id":"ef513d0e.12bd9","type":"function","z":"6595ea3d.696e54","name":"Convert to DegC (ie /10)","func":"msg.payload = msg.payload/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["e142bae1.4a13f8"]]},{"id":"9d5a9ea5.2a80c","type":"function","z":"6595ea3d.696e54","name":"Convert to DegC (ie /10)","func":"msg.payload = msg.payload/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":240,"wires":[["d5b07004.e60e9","86693e0f.1d6f5"]]},{"id":"b95e8196.f0d7b","type":"function","z":"6595ea3d.696e54","name":"Convert to DegC (ie /10)","func":"msg.payload = msg.payload/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":320,"wires":[["30b35a09.5261f6","47d475c3.b4070c"]]},{"id":"20b16c0a.4a10b4","type":"function","z":"6595ea3d.696e54","name":"Convert to DegC (ie /10)","func":"msg.payload = msg.payload/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":360,"wires":[["2e1d4600.ab7e7a"]]},{"id":"ea35eee7.ca691","type":"function","z":"6595ea3d.696e54","name":"Convert to DegC (ie /10)","func":"msg.payload = msg.payload/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":400,"wires":[["c95115b0.34b8e8","f814e8b1.473798"]]},{"id":"639d1152.d0507","type":"function","z":"6595ea3d.696e54","name":"Convert to DegC (ie /10)","func":"msg.payload = msg.payload/10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":440,"wires":[["a09d7890.021918"]]},{"id":"a669fe5f.dc204","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"change","p":"payload.value","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"},{"t":"change","p":"payload.value","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":640,"wires":[["cc69b4fd.85e1d8"]]},{"id":"f3d2b66c.58a4a8","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"change","p":"payload.value","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"},{"t":"change","p":"payload.value","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":600,"wires":[["41127e2a.11277"]]},{"id":"41127e2a.11277","type":"ui_text","z":"6595ea3d.696e54","group":"2fae7c8c.9fc304","order":3,"width":0,"height":0,"name":"","label":"West Pump is","format":"{{msg.payload.value}}","layout":"row-center","x":560,"y":600,"wires":[]},{"id":"cc69b4fd.85e1d8","type":"ui_text","z":"6595ea3d.696e54","group":"e92fb441.7c5ad8","order":3,"width":0,"height":0,"name":"","label":"East Pump is","format":"{{msg.payload.value}}","layout":"row-center","x":550,"y":640,"wires":[]},{"id":"2d8a5542.b627da","type":"mqtt in","z":"6595ea3d.696e54","name":"","topic":"IP65","qos":"2","datatype":"auto","broker":"bad75129.faa7a","x":80,"y":40,"wires":[["44672965.ac43b8"]]},{"id":"bc3676bb.ef9978","type":"switch","z":"6595ea3d.696e54","name":"East/West Roof Switch","property":"payload.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":800,"wires":[["62f599e7.30f038"],["520a2f1a.41544"]]},{"id":"62f599e7.30f038","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":780,"wires":[["e9f993b2.2280b"]]},{"id":"520a2f1a.41544","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":820,"wires":[["338549c3.894ad6"]]},{"id":"e9f993b2.2280b","type":"function","z":"6595ea3d.696e54","name":"Convert to kW","func":"msg.payload = msg.payload/100 // power arrives in decaWatts\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":780,"wires":[["3b22db02.6751f4","d9e68643.7b7058"]]},{"id":"3b22db02.6751f4","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"2fae7c8c.9fc304","order":5,"width":0,"height":0,"gtype":"gage","title":"Power delivery West (kW)","label":"kW","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":740,"wires":[]},{"id":"338549c3.894ad6","type":"function","z":"6595ea3d.696e54","name":"Convert to kW","func":"msg.payload = msg.payload/100 // power comes in decaWatts\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":820,"wires":[["61fd8ad3.523b04","bf9824fc.8a87c8"]]},{"id":"61fd8ad3.523b04","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"e92fb441.7c5ad8","order":5,"width":0,"height":0,"gtype":"gage","title":"Power delivery East (kW)","label":"kW","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":860,"wires":[]},{"id":"4b65e232.eeaa1c","type":"function","z":"6595ea3d.696e54","name":"Convert to Bar","func":"msg.payload = msg.payload/1000\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":480,"wires":[["79d245f3.b57bfc"]]},{"id":"3fe2fa2b.b52c26","type":"function","z":"6595ea3d.696e54","name":"Convert to Bar","func":"msg.payload = msg.payload/1000\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":520,"wires":[["75a87fea.a827b"]]},{"id":"a1f867ab.5c9388","type":"ui_chart","z":"6595ea3d.696e54","name":"West Panel Outlet","group":"4849714c.175cc","order":1,"width":10,"height":5,"label":"West temperature (Deg C)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"50","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1070,"y":240,"wires":[[]]},{"id":"20c0f57e.938eba","type":"ui_chart","z":"6595ea3d.696e54","name":"East Panel Outlet","group":"2abc8158.d781ce","order":1,"width":10,"height":5,"label":"East temperature (Deg C)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"50","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1070,"y":320,"wires":[[]]},{"id":"86693e0f.1d6f5","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":880,"y":240,"wires":[["a1f867ab.5c9388"]]},{"id":"47d475c3.b4070c","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":880,"y":320,"wires":[["20c0f57e.938eba"]]},{"id":"bf9824fc.8a87c8","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":820,"wires":[["5929c87f.5589c8"]]},{"id":"d9e68643.7b7058","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":780,"wires":[["f9a2d6f2.e20e98"]]},{"id":"5929c87f.5589c8","type":"ui_chart","z":"6595ea3d.696e54","name":"East Panel Power","group":"2abc8158.d781ce","order":2,"width":10,"height":5,"label":"East Panel Power (kW)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":820,"wires":[[]]},{"id":"f9a2d6f2.e20e98","type":"ui_chart","z":"6595ea3d.696e54","name":"West Panel Power","group":"4849714c.175cc","order":2,"width":10,"height":5,"label":"West Panel Power (kW)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":780,"wires":[[]]},{"id":"f814e8b1.473798","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":870,"y":400,"wires":[["7a3c74f7.9a582c"]]},{"id":"7a3c74f7.9a582c","type":"ui_chart","z":"6595ea3d.696e54","name":"Water Temperature","group":"b23122a3.73826","order":1,"width":"21","height":3,"label":"Water temperature (Deg C)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"18","ymax":"30","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1070,"y":400,"wires":[[]]},{"id":"f9c72cf7.e61c4","type":"debug","z":"6595ea3d.696e54","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":40,"wires":[]},{"id":"3ea9b77b.66b3b8","type":"ui_text","z":"6595ea3d.696e54","group":"7ff3f631.5e4058","order":4,"width":0,"height":0,"name":"","label":"Latest readings received: ","format":"{{msg.payload}}","layout":"col-center","x":910,"y":100,"wires":[]},{"id":"9ec89cb3.ae006","type":"change","z":"6595ea3d.696e54","name":"convert to hrs & min","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now(\t   'Date [D01].[M01].[Y0001] :: Time [H01]:[m01]:[s01]',\t   '+0000'\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[["3ea9b77b.66b3b8","f9c72cf7.e61c4"]]},{"id":"475495cf.24878c","type":"change","z":"6595ea3d.696e54","name":"time of data arrival","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":40,"wires":[["9ec89cb3.ae006"]]},{"id":"87aac15b.bb478","type":"pushover","z":"6595ea3d.696e54","name":"pool info","device":"","title":"","priority":0,"sound":"pushover","url":"","url_title":"","html":false,"x":830,"y":660,"wires":[]},{"id":"1a8b1706.b37649","type":"switch","z":"6595ea3d.696e54","name":"Chemistry Switch","property":"payload.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":960,"wires":[["ea2cdbca.fc2f98"],["9adea678.48cc18"]]},{"id":"ea2cdbca.fc2f98","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":940,"wires":[["8be01ff4.de4e3"]]},{"id":"9adea678.48cc18","type":"change","z":"6595ea3d.696e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":980,"wires":[["c04c4805.c021c8"]]},{"id":"8be01ff4.de4e3","type":"function","z":"6595ea3d.696e54","name":"Convert to pH","func":"msg.payload = msg.payload/100 \n// H ion concentration arrives in hundredths of pH\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":940,"wires":[["f01fbf3.c60704","21151051.b4847"]]},{"id":"c04c4805.c021c8","type":"function","z":"6595ea3d.696e54","name":"Convert to ppm","func":"msg.payload = msg.payload/100 \n// concentration arrives in parts per ten thousand\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":980,"wires":[["2809e6f.2d99f1a","d0f54ecb.54b71"]]},{"id":"f01fbf3.c60704","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"3c12a7b4.2253d8","order":1,"width":0,"height":0,"gtype":"gage","title":"pH","label":"pH","format":"{{value}}","min":"6","max":"8","colors":["#b30012","#26e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":900,"wires":[]},{"id":"2809e6f.2d99f1a","type":"ui_gauge","z":"6595ea3d.696e54","name":"","group":"3c12a7b4.2253d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Chlorine","label":"ppm","format":"{{value}}","min":0,"max":"4.5","colors":["#b30009","#00e60f","#ca3838"],"seg1":"","seg2":"","x":820,"y":1020,"wires":[]},{"id":"21151051.b4847","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":940,"wires":[["84be7b32.b1eeb8"]]},{"id":"d0f54ecb.54b71","type":"delay","z":"6595ea3d.696e54","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":980,"wires":[["2dd292fd.e8f89e"]]},{"id":"84be7b32.b1eeb8","type":"ui_chart","z":"6595ea3d.696e54","name":"Pool Water pH","group":"b23122a3.73826","order":1,"width":21,"height":"3","label":"Pool Water pH","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"6","ymax":"8","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":960,"y":940,"wires":[[]]},{"id":"2dd292fd.e8f89e","type":"ui_chart","z":"6595ea3d.696e54","name":"","group":"b23122a3.73826","order":4,"width":21,"height":"3","label":"Pool Water Chlorine (ppm)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1000,"y":980,"wires":[[]]},{"id":"2fae7c8c.9fc304","type":"ui_group","name":"West Panel and Pump","tab":"4b0f8da1.5e85a4","order":2,"disp":true,"width":6,"collapse":false},{"id":"92504e53.23018","type":"ui_group","name":"Temperature sensors on outlet pipes","tab":"33b16f6f.d21c9","order":1,"disp":true,"width":"6","collapse":false},{"id":"e92fb441.7c5ad8","type":"ui_group","name":"                East Panel and Pump","tab":"4b0f8da1.5e85a4","order":1,"disp":true,"width":6,"collapse":false},{"id":"7ff3f631.5e4058","type":"ui_group","name":"Pool, Air and Water Supply","tab":"4b0f8da1.5e85a4","order":3,"disp":true,"width":6,"collapse":false},{"id":"bad75129.faa7a","type":"mqtt-broker","name":"","broker":"178.62.65.122","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4849714c.175cc","type":"ui_group","name":"West Panel","tab":"4c9ffec6.8524c","order":1,"disp":true,"width":10,"collapse":false},{"id":"2abc8158.d781ce","type":"ui_group","name":"East Panel","tab":"4c9ffec6.8524c","order":2,"disp":true,"width":10,"collapse":false},{"id":"b23122a3.73826","type":"ui_group","name":"Water Temperature","tab":"a3f40d30.6057e","order":1,"disp":true,"width":21,"collapse":false},{"id":"3c12a7b4.2253d8","type":"ui_group","name":"Water Chemistry","tab":"4b0f8da1.5e85a4","order":4,"disp":true,"width":5,"collapse":false},{"id":"4b0f8da1.5e85a4","type":"ui_tab","name":"Pool Data -- Right Now","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"33b16f6f.d21c9","type":"ui_tab","name":"Subsidiary temperature readings","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"4c9ffec6.8524c","type":"ui_tab","name":"Performance Graphs","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a3f40d30.6057e","type":"ui_tab","name":"This week's water","icon":"dashboard","order":3,"disabled":false,"hidden":false}]